{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content%}
    <div class="card text-center">
      <div class="card-header">Profile page</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>First name</td>
              <td>{{user_info.first_name}}</td>
            </tr>
            <tr>
              <td>Last name</td>
              <td>{{user_info.sur_name}}</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>{{user_info.mob_phone_no}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
